<!-- index.ejs -->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>USERS</title>

    <body>
      user list
      <ul>
        <% for (const user of users) { %>
        <li><%= user.name %></li>
        <% } %>
      </ul>
    </body>
  </head>
</html>
